.popup-container {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    transition: opacity .3s ease;
    opacity: 0;
    z-index: -1;

    .overlay {
        background-color: rgba(0, 0, 0, 0.728);
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;

        .popup {
            background-color: var(--main-bg);
            max-width: 40%;
            min-height: 50vh;
            height: auto;
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            top: -50%;
            overflow: hidden;
            transition: top 0.6s ease, opacity 0.4s ease;
            opacity: 0;
            max-height: 80vh;
            overflow: auto;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            
            .content {
                .poster_container {
                    background-position: 0 0;
                    background-size: cover;
                    background-repeat: no-repeat;
                    height: 30vh;  
                    width: calc(100% + 40px);
                    margin-left: -20px;
                    margin-right: -20px;
                    margin-top: -20px;

                }

                h2 {
                    margin-top: 2rem;
                    margin-bottom: 1rem;
                }

                .thumbnail-icons-actions {
                    display: flex;
                    align-items: center;
                    color: rgb(181, 179, 179);
                    justify-content: end;
                    margin-top: 1rem;
                
                    svg {
                        width: 40px;
                        height: 40px;
                        pointer-events: all;
                        margin: 4px 2px;
                        transition: .4s ease;
                        cursor: pointer;
                
                        &:hover {
                
                            &.favorite {
                                fill: #ff006c;
                            }
                
                            // &.notFavorite {
                            //     fill: #FFF;
                            // }
                
                            // fill: #FFF;
                        }
                    }
                
                    .video_icon {
                        fill: var(--color-icons);
                    }
                
                    a {
                        display: flex;
                        align-items: center;
                    }
                
                    .favorite {
                        fill: hotpink;
                    }
                
                    .notFavorite {
                        fill: var(--color-icons);
                    }
                
                }
            }
        }
    }

    &.show {
        opacity: 1;
        z-index: 20;

        .overlay {

            .popup {
                top: 50%;
                opacity: 1;
            }
        }
    }

    @media (max-width:768px) {
        .overlay {
            .popup {
                width: 90%;
                max-width: 90vw;
            }
        }
    }
}