.row-poster {
    object-fit: contain;
    transition: transform .2s ease-in-out;
    border-radius: 4px;
    margin-bottom: 6px;

    &.row-posterLarge {
        max-height: 300px;
        position: relative;
    }

    &.row-posterSmall {
        position: relative;
        max-height: 200px;
    }
}

.row-large {
    transition: .3s ease;
    height: 300px;

    &:hover {
        height: 400px;
    }
}

.row-posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 2em;
    position: relative;
    margin-left: -2em;

    &::-webkit-scrollbar {
        display: none;
    }
}

.row {
    margin-top: 2em;
    padding-left: 2em;

    h2 {
        color: white;
        font-weight: 500;
        font-size: 1.4em;
        margin-bottom: -8px;
    }

    padding-bottom: 15px;

    &:nth-of-type(1) {
        margin-top: -5em;
        z-index: 1;
        position: relative;

        h2 {
            text-shadow: 2px 2px 30px #131212;
        }
    }

    .poster-image {
        max-height: 300px;
    }

    .poster-image:not(:last-child) {
        margin-right: 15px;
    }
}

.poster-image {
    position: relative;
    transition: .3s ease-in-out;
        cursor: pointer;

    &:hover {
        box-shadow: 0 20px 42px -1px #343030;
        transform: scale(1.2, 1.2);
        cursor: pointer;
        z-index: 1;

        &>.info {
            cursor: pointer;
            opacity: 1;
        }
    }
}

.info {
    font-size: .8em;
    opacity: 0;
    z-index: 9;
    transition: .4s ease;
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    text-shadow: 0px 0px 11px #201d1d;
    font-weight: 600;
    background: rgb(37 38 37 / 90%);
    color: white;
}

.rating {
    padding: 10px 10px 5px 10px;
}

.title {
    padding: 5px 10px 10px 10px;
}

.poster-large {
    .info {
        margin-bottom: -80px;

    }
}

.thumbnail-icons-actions {
    display: flex;
    align-items: center;
    color: rgb(181, 179, 179);
    justify-content: end;

    svg {
        width: 40px;
        height: 40px;
        pointer-events: all;
        margin: 4px 2px;
        transition: .4s ease;

        &:hover {

            &.favorite {
                fill: #ff006c;
            }

            &.notFavorite {
                fill: #FFF;
            }

            fill: #FFF;

        }
    }

    .video-icon {
        fill: rgb(181, 179, 179);
    }

    a {
        display: flex;
        align-items: center;
    }

    .favorite {
        fill: hotpink;
    }

    .notFavorite {
        fill: rgb(181, 179, 179);
    }

}