* {
    margin:0;
    box-sizing: border-box;
}

[data-theme="light"]{
    --main-bg:#fcfcfc;
    --color-text: rgb(33, 33, 33);
    --color-shadow: #bfbfbf;
    --color-icons:rgb(141, 141, 141);
    --color-icons-menu:black;
    --color-card-info:rgba(255, 255, 255, 0.753);
    --color-input: #e3e3e3;

}

[data-theme="dark"]{
    --main-bg:black;
    --color-text: white;
    --color-shadow:  #343030;
    --color-icons:#b5b3b3;
    --color-icons-menu:white;
    --color-card-info:rgba(37, 38, 37, 0.9);
    --color-input: #3b3b3b;
}

body {
    background: var(--main-bg);
    font-size: 1.3em;
    color: var(--color-text);
}

